{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center">My <b style="color:red;">Profile</b></h1>
    <div class="col-sm-12">
        <table class="table table-stripted">
            <tr>
                <th>name</th>
                <th>profile img</th>
                <th>email id</th>
                <th>Mobile no</th>
                <th>databirth</th>
                <th>Address</th>
            </tr>
            {% if cart1 %}
            {% for x in cart1 %}
            <tr>
                <td>{{x.0}}</td>
                <td><img src="/{{x.6}}" class="img-fluid" height="50px" width="100px"></td>
                <td>{{x.3}}</td>
                <td>{{x.2}}</td>
                <td>{{x.1}}</td>
                <td>{{x.5}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>

</div>

{% endblock %}